@tailwind base;
@tailwind components;
@tailwind utilities;

@import "diagrams";

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  src: url("/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 200;
  src: url("/fonts/Ubuntu-Light.ttf");
}

body {
  @apply text-white overflow-x-hidden;
  background-color: #222;
  font-family: Ubuntu, sans-serif;
}